*{
    margin-left: 0rem;
    background-color: #363636;
    /* background-image: url('Assets/grid.jpg'); */
    background-attachment: fixed;
    background-size: cover;
}
html{
    scroll-behavior: smooth;
}
/* Navigation */
.navbar{
    margin-left: 5rem ;
    justify-items: center;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.drop_downmenu{
    display: none;
}
.navbar .logo{
    color: blueviolet;
    font-size: 1rem;
}
.nav{
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-weight: 700;
}
.nav a{
    font-style: none;
    text-decoration: none;
    color: #f0f0f0;
    transition: all .5s ease-out ;
    cursor: pointer;

}
.nav a:hover{
    transform: scale(1.5s);
    color: blueviolet;
    text-decoration: underline 2px;
}
.nav .contact-me a{
    color: blueviolet;
}
/* About */
.hero{
    justify-content: center;
    margin-top: 5rem;
    margin-left: 5rem;
    align-items: center;
    margin-inline: auto;

    transition: all 1s ease-in-out;
}

.about-section{
    margin: 0 0 0 7rem ;
    color: #f0f0f0;
}
.hero-content{
    display: inline-flex;
    /* align-items: center; */
    width: min(90%, 1080px);
    
}
.left-container{
    padding: 3rem;
    transition: all 1.5s ease-in-out;
    transform: all scale(2);
}
.left-container img{
    height: 20rem;
    background-color: blue;
    border-radius: 50px;
    box-shadow: rgba(72, 135, 202, 0.8) 0 0 90px 33px;

    border: 2px rgb(255, 255, 255) solid;
    
}
.right-container{
    width: 500vw;
    min-width: 50px;
    padding: 15px;
    height: auto;
    background: linear-gradient(to right,blueviolet, purple);
    border: #f0f0f0 2px solid;
    border-radius: 10px;
    transition: ease-in;
    overflow-y: auto;
}
.hero .right-container h1, p{
    color: #f0f0f0;
    /* background-color: transparent; */
    transition: ease-in;
    background: transparent;
    
    




}

.underline{
    margin-left: 9rem;
    margin-top: 0rem;
    width: 61px;
    height: 6px;
    background: #3c009d;
    border-radius: 9px;
}  

/* Projects */
.projects{
    margin: 10rem 0 0 12rem ;
    color: #f0f0f0;
    padding-bottom: 5rem;
    margin-inline: auto;
    width: min(90%, 1000px);



}
.projects h2{
    font-size: 20px;
    color: blueviolet;
    transition: all 1s ease-in-out;


}
.projects h3, i{
    font-size: 16px;
    transition: all .5s ease-in-out;

    
}
.projects i{
    color: #f0f0f0;
    font-weight: 700;
}


.projects img{
    width: auto;
    height: max(70vh);
    min-height: 30vh;
    border-radius: 10px;
    border: #f0f0f0 2px solid;
    transition: all 1.5s ease-in-out;

}

/* contact me */
.contact-me-section {
    margin-left: 0rem;
    padding: 1.5rem;
    height: 40vh;
    width: screen;
    color: blueviolet;
    background: #f0f0f0;
    align-items: center;
    justify-content: center;
}
.contact-me-section p{
    color: #333;
    font-weight: 600;
}
.socials{
    background: #f0f0f0;
    font-size: 26px;
    align-items: center;
    display: contents;
    gap: 2rem;

}
.socials .email, .socials .linkedIn, .socials .twitter, .socials .github{
    display: flex;
    align-items: center;
    background: none;
    gap: 1rem;
}
.socials h2{
    background-color: transparent;
    font-size: 20px;
}
.MdEmail{
    background-color: transparent;
}


@media (max-width: 1400px){
    .projects img{
        width: auto;
        height: max(60vh);
        border-radius: 10px;
        border: #f0f0f0 2px solid;
    }
        
    }
    
    @media (max-width: 1024px){
        .projects img{
            width: auto;
            height: max(37vh);
            border-radius: 10px;
            border: #f0f0f0 2px solid;
        }
    }

    @media(max-width:890px){
        .left-container img{
            height: 15rem;
            width: auto;
            background-color: blue;
            border-radius: 50px;
            box-shadow: rgba(72, 135, 202, 0.8) 0 0 90px 33px;
        
            border: 2px rgb(255, 255, 255) solid;
            
        }
        .projects img{
            width: auto;
            height: max(26vh);
            border-radius: 10px;
            border: #f0f0f0 2px solid;
        }
        
    }
    
    @media(max-width:600px){
        .left-container img{
            height: 18rem;
            width: auto;
            background-color: blue;
            border-radius: 50px;
            box-shadow: rgba(72, 135, 202, 0.8) 0 0 90px 33px;
        
            border: 2px rgb(255, 255, 255) solid;
            
        }
        .hero-content{
            display: block;
            width: min(90%, 1000px);
        }
        .right-container{
            width: 100vw;
            margin-left: 20px;
            padding: 15px;

            height: auto;
            /* background: linear-gradient(to right,blueviolet, purple); */
            /* border: #f0f0f0 2px solid; */
            border-radius: 10px;
            transition: ease-in;
            overflow-y: auto;
        }
        .projects img{
            width: auto;
            height: max(30vh);
            border-radius: 10px;
            border: #f0f0f0 2px solid;
        }
        
    }

    /* menu bars */
    @media(max-width: 650px){
        .nav{
            display: none;
        }
        .drop_downmenu, a{
            display: grid;
            gap: 0.5px;
            margin-right: 15px;
            padding: 2px;
            font-size: 18px;
            color: #f0f0f0;
            text-decoration: none;
            cursor: pointer;
        }
    }

    @media(max-width: 549px){
        .right-container{
            width: 105vw;
        }
    }
    
    @media(max-width: 420px){
        .left-container img{
            height: 150px;
        }
        .right-container{
            width: 80vw;
        }
        .projects img{
            height: 5vh;
        }
    }

    